@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
body {
  @apply font-[Raleway];
  margin: 0;
  font-family:'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0% 10%;
}

.category{
  @apply 
  w-[5rem] 
  h-[5rem] 
  p-3 rounded-[50%] 
  flex items-center 
  flex-col bg-gradient-to-r from-[#494949] to-[#313131];

  &.active{
      @apply bg-gradient-to-r from-[#f27121] active:to-[#e29057]
  }
}
.recipeButton{
  @apply px-10 py-3 border-2 border-[#494949] mr-5; 
  &.active{
    @apply bg-gradient-to-r from-[#494949] to-[#313131] text-white;
}
}
